process {

    // Enable Docker usage
    withDocker = true

    // Ensure Docker is enabled
    docker.enabled = true    

    // Automatically remove the container after execution
    docker.runOptions = '--rm'      
}

docker {

    // Globally enable Docker
    enabled = true                  
}
